* {
  box-sizing: border-box; }


@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-Medium.eot');
  src: url('../fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham-Medium.woff2') format('woff2'),
    url('../fonts/Gotham-Medium.woff') format('woff'),
    url('../fonts/Gotham-Medium.ttf') format('truetype'),
    url('../fonts/Gotham-Medium.svg#Gotham-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'GothamBold', Arial;
  src: url('../fonts/Gotham-Bold.eot');
  src: url('../fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham-Bold.woff2') format('woff2'),
    url('../fonts/Gotham-Bold.woff') format('woff'),
    url('../fonts/Gotham-Bold.ttf') format('truetype'),
    url('../fonts/Gotham-Bold.svg#Gotham-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'GothamLight', Arial;
  src: url('../fonts/Gotham-Light.eot');
  src: url('../fonts/Gotham-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham-Light.woff2') format('woff2'),
    url('../fonts/Gotham-Light.woff') format('woff'),
    url('../fonts/Gotham-Light.ttf') format('truetype'),
    url('../fonts/Gotham-Light.svg#Gotham-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'GothamRoundedBold';
  src: url('../fonts/GothamRounded-Bold.eot');
  src: url('../fonts/GothamRounded-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GothamRounded-Bold.woff2') format('woff2'),
    url('../fonts/GothamRounded-Bold.woff') format('woff'),
    url('../fonts/GothamRounded-Bold.ttf') format('truetype'),
    url('../fonts/GothamRounded-Bold.svg#GothamRounded-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}



@font-face {
  font-family: 'GothamRoundedBook';
  src: url('../fonts/GothamRounded-Book.eot');
  src: url('../fonts/GothamRounded-Book.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GothamRounded-Book.woff2') format('woff2'),
    url('../fonts/GothamRounded-Book.woff') format('woff'),
    url('../fonts/GothamRounded-Book.ttf') format('truetype'),
    url('../fonts/GothamRounded-Book.svg#GothamRounded-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}


html {
  font-family: "Gotham";
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: 1920px auto;
  color: #000;
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  color: #000;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }
  a:active, a:hover {
    outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

h1, h2, h3, h4, h5, h6, p {
  font-weight: normal;
  margin: 0; }

img {
  border: 0; vertical-align: middle; }

figure {
  line-height: .7;
  margin: 0;
  position: relative; }

figcaption {
  line-height: 1.2; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
  padding: 0; }

button {
  cursor: pointer; }
  button[disabled] {
    cursor: default; }

html input[disabled] {
  cursor: default; }

button::-moz-focus-inner {
  border: 0;
  padding: 0; }

input::-moz-focus-inner {
  border: 0;
  padding: 0;
  line-height: normal; }

input[type="checkbox"], input[type="radio"] {
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0; }

.clear {
  clear: both; }

.clearfix { *zoom: 1;}
.clearfix:before, .clearfix:after { display: table; line-height: 0; content: ""; }
.clearfix:after { clear: both; }

.hide {
  display: none; }

.last {
  margin-right: 0 !important; }

.pull-right{ float: right;}
.pull-left{ float: left;}

.content{ width: 1017px; margin: 0 auto;}

i[class^="icon-"], i[class*=" icon-"] {
    background: url(../img/sprite.png) no-repeat;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
}
i.icon-home{ width: 24px; height: 23px; background-position: 0 0; }
i.icon-call{ width: 24px; height: 24px; background-position: 0 -23px; }
i.icon-search{ width: 19px; height: 18px; background-position: 0 -47px; }
i.icon-print{ width: 26px; height: 25px; background-position: 0 -65px; }
i.icon-back{ width: 33px; height: 33px; background-position: 0 -90px; }




/* DROPDOWN
========================================================================== */

.ui-dropdown { cursor: pointer; position: relative; }
.ui-dropdown:hover { }
.ui-list { background-color: #fff; border: 1px solid #ddd; font-size: 13px; list-style: none; margin: 0; min-width: 160px; padding: 0; z-index: 1; }
.ui-list li > a { clear: both; color: #333; display: block; font-weight: normal; padding: 6px 10px; text-transform: capitalize; }
.ui-list li > a:hover { background-color: #ddd; text-decoration: none; }
.ui-dropdown > .ui-list { display: none; margin: 0; position: absolute; }
.ui-dropdown.ui-open .ui-list { display: block; max-height: 200px; overflow: auto; width: 100%; }
.ui-dropdown .ui-caption { cursor: pointer; padding: 5px 10px; }
.ui-dropdown .ui-caption:active, .ui-open .ui-dropdown .ui-caption { outline: 0 none; }
.ui-open { background-color: #f8f8f8; }
.ui-open > .ui-list { display: block; }

/* Orbit
========================================================================== */

.ui-orbit { position: relative; *zoom: 1; }
.ui-orbit .ui-inner:before, .ui-orbit .ui-inner:after { content: ""; display: table; line-height: 0; }
.ui-orbit .ui-inner:after { clear: both; }
.ui-orbit .ui-content { overflow: hidden; position: relative; }
.ui-orbit .ui-inner { -webkit-transition:left .4s ease; position: relative; left: 0; top: 0; transition: left .4s ease; }
.ui-orbit .ui-item { float: left; position: relative; display: none; }
.ui-orbit .ui-item:first-child { display: block;}
.ui-orbit.orbit-ed .ui-item{ display: block;}
.ui-orbit .ui-arrows { list-style: none; margin: 0; padding: 0; }
.ui-orbit .ui-arrows a:hover { text-decoration: none; }
.ui-orbit a.ui-prev, .ui-orbit a.ui-next { border-radius: 50%; -ms-border-radius: 50%; color: #f7c600; display: block; font-family: 'FontAwesome'; line-height: 200%; outline: none; overflow: hidden; position: absolute; text-align: center; z-index: 2; }
.ui-orbit a.ui-prev { left: 0; } 
.ui-orbit a.ui-next { right: 0; }
.ui-orbit a i { font-style: normal; }
.ui-orbit .ui-pager { text-align: center; }
.ui-orbit .ui-pager li { border-radius: 50%; cursor: pointer; display: inline-block; margin: 0 10px; overflow: hidden; text-indent: -999px; width: 12px; height: 12px; background: #fff;  }
.ui-orbit .ui-pager li.ui-active { }


header .line-top{ height: 41px; background: #005cb9; position: relative;}
header .line-bottom{ height: 33px; background: #0063a8; padding: 1px 0; color: #fff; text-align: center; font-family: 'GothamRoundedBook', Arial; font-size: 15px; line-height: 33px;}
header .header-main{ height: 157px;  background: url(../img/left_border.png)  no-repeat left top #fff; position: relative;}
header .line-min-top{ height: 42px; background: #005cb9; width: 50%; position: absolute; left: 0; bottom:-42px;}
/*header .header-main .line-min-top{ background: #005cb9; height: 42px; position: relative; margin-bottom: 15px; position: relative; }*/

header .logo h1, header .logo .text-logo{ display: inline-block; vertical-align: middle; font-family: 'GothamRoundedBold', Arial;}
header .logo .text-logo{display: inline-block; vertical-align: middle;  margin-left: 15px; color: #189cd8; font-size: 17px;}
header .logo{display: inline-block; margin: 27px 0 0 20px;}

header .box-header-opt{ margin-top: 30px;}

.search-control{ display: inline-block; position: relative;}
.search-control .search-text{ border: 2px solid #1066bd; height: 31px; width: 273px; padding: 5px 18px; font-family: 'GothamLight', Arial; font-size: 11px; font-style: italic;}
.search-control button{ background: transparent; border:0; position: absolute; right: 8px; top: 4px;}

.list-menu-sect{ display: block; text-align: right; margin-bottom: 17px;}
.list-menu-sect > li{ display: inline-block; margin-left: 20px;  }
.list-menu-sect > li a{ color: #9b9d9e; font-family: 'GothamRoundedBold', Arial; font-size: 12px; }
.list-menu-sect > li i{ margin-right: 4px;}

.search-options{ float: right;}
.zonal-option{ float: right; margin-top: 9px; margin-right: 15px;}
.zonal-option .ui-dropdown{ background: #005cb9; color: #fff;  font-family: 'GothamLight', Arial; font-size: 12px; width: 147px;  }
.zonal-option .ui-dropdown .btext{ color: #189cd8; font-family: 'GothamRoundedBold', Arial;}
.zonal-option .ui-dropdown .ui-caption{padding: 8px 11px; position: relative;}
.zonal-option .ui-dropdown .ui-caption:after{ content: ''; display: inline-block; width: 0; height: 0; border-top: 5px solid #fff; border-left: 5px solid transparent; border-right: 5px solid transparent; position: absolute; right: 9px; top: 13px;}
.zonal-option .title-zonal{ color: #9b9d9e; font-size: 12px; font-style: italic; font-family: 'GothamLight', Arial; margin-bottom: 17px; }

.orbit-home{ margin-top: 55px; margin-bottom: 36px;}
.orbit-home .ui-pager{ position: absolute; bottom: 19px; width: 180px; margin-left: -90px; left: 50%;}
.orbit-home .ui-item{ position: relative;}
.orbit-home .ui-item .disc{ width: 909px; height: 405px; background: url(../img/pat_slider_home.png); position: absolute; right: 0; bottom: 0;}
.orbit-home .ui-item .disc .ficha{ position: absolute; right: 0; bottom: 0; width: 165px; height: 100px; text-align: center; color: #fff;  padding-top: 20px; font-family: 'GothamRoundedBold', Arial;}
.orbit-home .ui-item .disc .ficha .porcentaje{ font-size: 50px; line-height: 100%;  }
.orbit-home .ui-item .disc .ficha .calp{ font-size: 15px; }
.orbit-home .name-promo{  position: absolute; right: 40px;  top: 40px; max-width: 300px; text-align: right; color: #0063a7; z-index: 5;}
.orbit-home .name-promo .title-promo{    font-size: 40px;  font-family: 'GothamRoundedBold';  line-height: 100%;   margin-bottom: 5px;}
.orbit-home .name-promo .description-promo{font-family: 'GothamLight', Arial; font-size: 16px; }


.content-categories{ width: 230px; margin-right: 21px; float: left;}
.list-promos{ overflow: hidden; }


.item-promo{ border:1px solid #0063a8; padding: 6px; width: 225px; float: left; margin-right: 44px; margin-bottom: 16px;}
.item-promo:last-child{ margin-right: 0;}
.item-promo .header-promo{ background: #0063a8; color: #fff; padding: 9px 12px; position: relative; }
.item-promo .header-promo .new{    position: absolute; right: 12px; bottom: 8px; font-size: 12px; font-family: 'GothamRoundedBold';}
.item-promo .header-promo .title-promo{ max-width: 100px;}
.item-promo .header-promo .title-promo a{ font-size: 13px; color: #fff;}
.item-promo .header-promo .sub-title{ font-size: 10px; font-family: 'GothamLight', Arial;}
.item-promo .footer-promo{ position: relative; text-align: right; padding: 1px 5px 0;}
.item-promo .footer-promo .percent-m{ color: #0063a7; font-size: 25px; display: inline-block; position: relative; margin-right: 0;}
.item-promo .footer-promo .percent-m i{font-style: normal;
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
    margin-left: -6px;
    margin-top: 2px;}
.item-promo .footer-promo .min{ font-size: 10px; display: inline-block; color: #0063a7; margin-left: -10px;}
.item-promo .footer-promo .link-content{ line-height: 100%;}
.item-promo .footer-promo .link{ font-size: 11px; color: #9b9d9e; font-family: 'GothamRoundedBold'; display: inline-block;  }
.item-promo .footer-promo .icon-empresa{ position: absolute; top: 5px; left: 8px;}

.category-entretenimiento .header-promo{ background: #0063a8; }
.category-belleza .header-promo{ background: #189cd8; }
.category-educacion .header-promo{ background: #6660ab; }
.category-familia .header-promo{ background: #ac1d37; }
.category-gastronomia .header-promo{ background: #b5be34; }
.category-detalles .header-promo{ background: #1a171c; }

.btn-more{ display: block; background: #0063a8; text-align: center; color: #fff;  font-size: 16px; font-family: 'GothamRoundedBold'; padding: 6px 6px 5px; line-height: 15px; margin-bottom: 48px;}
.btn-more:before{ content: ''; display: inline-block; width: 0; height: 0; border-left:7px solid #fff; border-top: 5px solid transparent; border-bottom: 5px solid transparent; margin-right: 10px;}
.btn-more:after{ content: ''; display: inline-block; width: 0; height: 0; border-right:7px solid #fff; border-top: 5px solid transparent; border-bottom: 5px solid transparent; margin-left: 10px;}



.list-categories li{ display: block; margin-bottom: 15px;}
.list-categories li a{ color: #d3d3d3; display: block; font-size: 15px; font-family: 'GothamRoundedBold'; line-height: 20px; text-decoration: none;}
.list-categories li a > i{ display: inline-block; vertical-align: middle; width: 40px; text-align:center; }
.list-categories li a > i:after{ content: ''; text-align: center; display: inline-block; background: url(../img/sprite_icon_menu.png);}
.list-categories li i.entretenimiento:after{ width: 23px; height: 24px; background-position: 0 0;}
.list-categories li i.belleza:after{ width: 25px; height: 21px; background-position: 0 -24px;}
.list-categories li i.gastronomia:after{ width: 13px; height: 22px; background-position: 0 -45px;}
.list-categories li i.familia:after{ width: 25px; height: 23px; background-position: 0 -67px;}
.list-categories li i.educacion:after{ width: 17px; height: 16px; background-position: 0 -90px;}
.list-categories li i.detalles:after{ width: 19px; height: 21px; background-position: 0 -106px;}
.list-categories li i.tiempo:after{ width: 22px; height: 22px; background-position: 0 -127px;}
.list-categories li a:hover i.entretenimiento:after{ background-position: -25px 0; }
.list-categories li a:hover i.belleza:after{  background-position: -25px -24px;}
.list-categories li a:hover i.gastronomia:after{ background-position: -25px -45px;}
.list-categories li a:hover i.familia:after{  background-position: -25px -67px;}
.list-categories li a:hover i.educacion:after{ background-position: -25px -90px;}
.list-categories li a:hover i.detalles:after{ background-position: -25px -106px;}
.list-categories li a:hover i.tiempo:after{  background-position: -25px -127px;}



.list-categories li.cat-entretenimiento a:hover{color: #0063a7;}
.list-categories li.cat-belleza a:hover{color: #189cd8;}
.list-categories li.cat-gastronomia a:hover{color: #b4be35;}
.list-categories li.cat-familia a:hover{color: #ac1d37;}
.list-categories li.cat-educacion a:hover{color: #6660aa;}
.list-categories li.cat-detalles a:hover{color: #9b9d9e;}
.list-categories li.cat-tiempo a:hover{color: #d1d3d4;}

footer .logo-footer{ text-align: right; padding-bottom: 43px;}
footer .footer-line{ background: #ac1d37; text-align: center; padding: 8px 0; color: #ffffff; font-size: 15px; position: relative;}
footer .footer-line .line-min-bottom{ height: 41px; background: #ac1d37; width: 50%; position: absolute; right: 0; top: -41px;}
footer > .content{ position: relative; z-index: 1; background: url(../img/right_border.png) no-repeat right bottom #fff;}

.breadcrumb{ margin-top: 10px; margin-bottom: 3px;}
.breadcrumb-list{ list-style: none; margin: 0; padding: 0; display: inline-block; margin-top: 7px;}
.breadcrumb-list li{ display: inline-block; position: relative; color: #9b9d9e; padding: 0 10px;}
.breadcrumb-list li:after{ display: inline-block; content: ''; width: 1px; height: 14px; background: #9b9d9e; position: absolute; top: 3px; right: -3px; transform: rotate(22deg);}
.breadcrumb-list li:last-child:after{ display: none;}
.breadcrumb-list li a{ font-size: 15px; color: #9b9d9e;}
.button-back{ color: #0063a7; font-size: 15px; font-family: 'GothamBold', Arial;}
.vale-print{ border-top: 1px solid #a5a7a8;  border-right: 1px solid #a5a7a8; border-bottom: 1px solid #a5a7a8; margin-bottom: 15px; }
.vale-print .image-promo{     float: left; margin-top: -1px; margin-bottom: -1px; }
.vale-print .description-promo{ overflow: hidden; padding: 20px 41px; position: relative;}
.vale-print .empresa-promo{ margin-bottom: 30px;}
.vale-print .title-promo{ font-size: 30px; font-family: 'GothamBold', Arial; color: #0063a7; max-width: 340px; }
.vale-print .sub-title{font-size: 17px; font-family: 'GothamLight', Arial; color: #0063a7; }
.vale-print .header-vale{ margin-bottom: 27px; }
.vale-print .body-vale{ font-size: 13px; font-family: 'GothamLight', Arial; color: #9b9d9e; }
.vale-print .row-form{ margin-bottom: 15px;}
.vale-print .row-form > span{ display: inline-block; vertical-align: bottom;}
.vale-print .row-form > .underline{ height: 15px; border-bottom: 1px solid #ccc; display: inline-block; vertical-align: bottom; min-width: 150px; margin-left: 5px;} 
.vale-print .button-print{ background: #0063a8; color: #fff; display: inline-block; font-size: 12px; font-family: 'GothamBold', Arial; padding: 12px 12px;}
.vale-print .button-print > i{ margin-right: 5px;}

.vale-print .percent{ position: absolute; right: 20px; bottom: 10px;}
.vale-print .percent-m{ color: #0063a7; font-size: 55px; display: inline-block; position: relative; margin-right: 0;font-family: 'GothamBold', Arial;}
.vale-print .percent-m i{    font-style: normal;
    font-size: 32px;
    display: inline-block;
    vertical-align: top;
    margin-left: -19px;
    margin-top: 6px;}
.vale-print .min{ font-size: 21px; display: inline-block; color: #0063a7; margin-left: -30px; font-family: 'GothamBold', Arial;}

.content-restricciones{ margin-bottom: 50px;}
.content-restricciones .blue-box{ width: 50%; float: left; background: #0063a8; color: #fff; padding: 32px 28px; font-size: 12px; font-family: 'GothamLight', Arial; min-height: 347px; }
.blue-box.box-p1{ border-right: 2px solid #fff; background: url(../img/ficha1.jpg) no-repeat 250px bottom #0063a8; border-left: 1px solid #a3c6df;    border-top: 1px solid #a3c6df; }
.blue-box.box-p2{ background: url(../img/ficha2.jpg) no-repeat right top #0063a8; border-right: 1px solid #a3c6df;  border-top: 1px solid #a3c6df; border-bottom: 1px solid #a3c6df;}
.blue-box .title-restriccion{ font-size: 20px; font-family: 'GothamBold', Arial; margin-bottom: 5px; }
.blue-box p{ margin-bottom: 10px;}
.blue-box .item-dir{ margin-bottom: 3px;}


@media print {
   header, footer, .breadcrumb, .content-restricciones, .button-print{ display: none;}
   .button-print{ visibility: hidden;}
}